body {
  margin: 0;
  background-color: #ccc;
  font-family: Helvetica, sans-serif;
}

.login-box {
  max-width: 250px;
  margin-inline: auto;
  background-color: #f0f0f0;
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1 {
  color: #222831;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  border: 1px solid #ccc;
}

.login-box button {
  background-color: #0364cb;
  color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.message {
  font-size: small;
  color: crimson;
}

p a {
  color: #0364cb;
}

li {
  font-size: x-large;
  margin: 5px;
}
.topicContainer {
  padding: 20px;
  background-color: #f0f0f0;
  max-width: 800px;
  margin: 10px;
  margin: auto;
  border-radius: 20px;
  border: 1px solid black;
}

.topicCard,
.quesbtn {
  padding: 10px;
  margin: 10px;
  font-size: large;
  color: aliceblue;
  background-color: #0364cb;
  border-radius: 5px;
  border: 1px solid black;
  transition: border-radius 0.3s ease;
  cursor: pointer;
}
.topicCard:hover {
  border-radius: 50px;
  background-color: #0454a9;
}
.quesbtn:hover {
  background-color: #0454a9;
}
.homeReturnBtn {
  padding: 10px;
  color: aliceblue;
  background-color: #0364cb;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.quizBox {
  max-width: 600px;
  margin: auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px;
}
.activeSelection {
  background-color: #0364cb;
  color: whitesmoke;
}
.passiveSelection {
  background-color: #f0f0f0;
}
.activeSelection,
.passiveSelection {
  padding: 5px;
  width: 100%;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  font-size: large;
  transition: all 0.3s ease;
}
